@page "/clients"

@using CrmBlazorApp.Data
@using System.Collections.Generic;
@inject CrmDataService DataService

<PageTitle>Clients</PageTitle>

<h3>Clients</h3>

@if (clients == null)
{
    <p><em>Loading...</em></p>
}
else
{
    if (clients.Length == 0)
    {
        <p>No client is found.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>CountryId</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var client in clients)
                {
                    <tr>
                        <td>@client.ClientId</td>
                        <td>@client.Name</td>
                        <td>@client.Country.Name</td>
                    </tr>
                }
            </tbody>
        </table>
        <input type="button" />
    }
}

@code {
    private DbModels.Client[]? clients;

    protected override async Task OnInitializedAsync()
    {
        clients = await DataService.GetClientsAsync();
    }
}
